body {
  font-family: sans-serif;
}
textarea {
  width: 100%;
  height: 140px;
}
.flex-grid {
  display: flex;
  justify-content: space-between;
}
.flex-grid .col {
  width: 48%;
}
.test-instructions {
  padding: 10px;
  background-color: #9fbaff;
}
